<div class="row">
  <% @programs.each do |program| %>
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">

        <div class="card-body">
          <h5 class="card-title"><%= program.title %></h5>

          <p class="card-text">
            <p>Difficulté : <%= program.difficulty %></p>
            <p>Langage : <%= program.language %></p>
            <p>Progression : <%= program.completion_percentage %>%</p>
          </p>

          <div class="d-flex justify-content-between">
            <p class = "bin mt-3">
              <%= link_to "", program_path(program),
                data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce chat ?" },
                class: "fa-solid fa-trash " %>
            </p>
            <%# <%= link_to "Supprimer",
              program_path(program),
              data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?" },
              class: "theme-toggle" , id: "theme-toggle"%>
            <%= button_to "Voir", program_path(program), class: "theme-toggle mt-4", id: "theme-toggle" %>

          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
