<div class="container">
  <h1 class="program-show-title"><%= @program.title %></h1>


  <div class="exercises-container">
    <div class="program-info">
      <p><strong>Ton niveau :</strong> <%= @program.difficulty %></p>
      <p><strong>Langage souhaité :</strong> <%= @program.language %></p>
      <p><strong>Complété :</strong> <%= @program.completion_percentage %>%</p>
      <p><strong>Temps souhaité :</strong> <%= @program.time_constraint %></p>
    </div>
    <p><strong>Exercices :</strong></p>
      <% @program.exercises.each do |exercise| %>
        <div class="card m-3 p-3">
          <%= link_to chats_path(exercise_id: exercise.id), method: :post, data: {turbo_method: :post }, class: "text-decoration-none" do %>
            <h4><%= exercise.title %></h4>
          <% end %>
            <p><%= exercise.content %></p>
      </div>
      <% end %>
  </div>

  <div class="actions">
    <%= link_to "Supprimer", program_path(@program),
                data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?" },
                class: "btn-delete" %>
    <%= link_to "Retour aux programmes", programs_path, class: "btn-back" %>
  </div>
</div>
