<%= @chat.title %>

<% @chat.messages.each do |message| %>
  <% if message.role == "user" %>
    <div class="container col6 d-flex justify-content-end">
      <p><%= message.content %></p>
    </div>
  <% else %>
    <div class="container col6 d-flex justify-content-start">
      <p><%= message.content %></p>
    </div>
  <% end %>
<% end %>
<div id="new_message_container">
  <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.input :content, label: "Selectionnez le langage que vous voulez apprendre ?", required: true, placeholder: "Javascript, ruby, python ..." %>
    <%= f.button :submit, 'Envoyer', class: 'btn btn-primary' %>
  <% end %>
</div>
